@import "_variables.scss";
@import "_mixins.scss";

body {
  margin: 0;
  padding: 0;
}

header {
  color: $primaryColor;
  background-color: $backgroundColor;
  padding: $standardPadding;
  text-align: center;
  font-size: $headingFontSize;
  h1 {
    color: $primaryColor;
    font-size: $headingFontSize;
    transition: all 1s;

    // add mixin
    @include bottomBorder();

    // Ampersand &
    &:hover {
      font-size: $hoverHeadingFontSize;
    }
  }
}

// nested selectors
main {
  background-color: $primaryColor;
  padding: $standardPadding;
  .info {
    color: white;
    text-align: center;
    font-size: $headingFontSize;

    // add mixin
    @include bottomBorder();

    p {
      font-size: 0.7em;
      padding-bottom: $standardPadding;
    }
  }
}
