@import "_variables.scss";
@import "_mixins.scss";

body {
  margin: 0;
  padding: 0;
}

header {
  color: $primaryColor;
  background-color: $backgroundColor;
  padding: $standardPadding;
  text-align: center;
  font-size: $headingFontSize;
  h1 {
    color: $primaryColor;
    font-size: $headingFontSize;
    transition: all 1s;

    // add mixin
    @include bottomBorder();

    // Ampersand &
    &:hover {
      font-size: $hoverHeadingFontSize;
    }
  }
}

// nested selectors
main {
  background-color: $primaryColor;
  padding: $standardPadding;
  .info {
    color: white;
    text-align: center;
    font-size: $headingFontSize;

    // add mixin
    @include bottomBorder(10px, 5px, #0033aa);

    p {
      font-size: 0.7em;
      padding-bottom: $standardPadding;
    }
  }
}

// dziedziczenie stylów @extend

.warning {
  color: white;
  font-weight: bold;
  background-color: #ad0f03;
  padding: 0.5em;

  &-big {
    @extend .warning;
    font-size: 1.2em;
    padding: 1em;
  }
}
